UserHouseHoldPresentationLayer/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59237/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59237/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59237/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_PostUser_InputMessage">
    <wsdl:part name="parameters" element="tns:PostUser" />
  </wsdl:message>
  <wsdl:message name="IService1_PostUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostHouseHold_InputMessage">
    <wsdl:part name="parameters" element="tns:PostHouseHold" />
  </wsdl:message>
  <wsdl:message name="IService1_PostHouseHold_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostHouseHoldResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveDataToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataToDB" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveDataToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataToDBResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="PostUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostUser" message="tns:IService1_PostUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostUserResponse" message="tns:IService1_PostUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUser" message="tns:IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserResponse" message="tns:IService1_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostHouseHold">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostHouseHold" message="tns:IService1_PostHouseHold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostHouseHoldResponse" message="tns:IService1_PostHouseHold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveDataToDB" message="tns:IService1_SaveDataToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveDataToDBResponse" message="tns:IService1_SaveDataToDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostUser">
      <soap:operation soapAction="http://tempuri.org/IService1/PostUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHouseHold">
      <soap:operation soapAction="http://tempuri.org/IService1/PostHouseHold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataToDB">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveDataToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:59237/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>