UserHouseHoldPresentationLayer/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:UserRole" />
      <xs:element minOccurs="0" name="UserTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserRoleID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="Household">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HId" type="xs:int" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Middlename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Household" nillable="true" type="tns:Household" />
  <xs:complexType name="ArrayOfHousehold">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Household" nillable="true" type="tns:Household" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHousehold" nillable="true" type="tns:ArrayOfHousehold" />
</xs:schema>